$table->increments('id');
    $table->integer('buyer_id')->unsigned();
    $table->integer('product_id')->unsigned();
    $table->integer('stock_id')->unsigned();
    $table->string('piece');
    $table->string('unit_price');
    $table->string('price');
    $table->string('discount')->nullable();
    $table->string('discount_amount')->nullable();
    $table->string('serial_numbr');
    $table->boolean('dispatch')->nullable()->default(0);
    $table->boolean('return')->nullable()->default(0);
    $table->timestamps();

    $table->increments('id');
    $table->string('serial_numbr');
    $table->string('first_name');
    $table->string('last_name');
    $table->string('email');
    $table->string('address');
    $table->string('street');
    $table->string('phone');
    $table->boolean('received')->nullable()->default(0);
    $table->timestamps();

    $table->increments('id');
    $table->string('serial_numbr');
    $table->string('paypal_id');
    $table->timestamps();
