<div id="home-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="home-wrapper">
                    <div class="home-image">

                        @if(!empty($about->slug))
                        @if(file_exists('storage/'.$about->image) && $about->image != '')
                        <img src="{{asset('storage/'.$about->image)}}" alt="{{$about->title}}">
                        @endif
                        @endif

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home-wrapper">
                    <div class="home-wrapper-content">
                        <div class="title">
                            <h1>John Lewis Opticians</h1>
                        </div>

                        <div class="home-paragraph">
                            {!! $about->short_description !!}
                        </p>
                    </div>

                    <a href="{{route('content.show',[$about->slug])}}" class="btn btn-about-us">
                        About Us
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
        </div>